@import "random-quote/styles/variables";

.page {
  display: grid;
  grid-template-areas:
    ". . random"
    ". main .";
  grid-template-columns:
    minmax(10px, 1fr)
    minmax(180px, 614px)
    minmax(50px, 1fr);
  grid-template-rows: 200px 1fr 140px;

  button {
    grid-area: random;
    display: flex;
    justify-self: center;
    margin-top: 40px;
    margin-right: 80px;
    background: none;
    border: none;

    & :first-child {
      font-size: 18px;
      color: $light-black;
      margin-right: 4px;
    }

    & :last-child {
      height: 18px;
      width: 18px;
    }

    span:nth-child(1) {

    }
  }
}

.page main {
  grid-area: main;
}

.quote-text {
  font: 500 36px "Raleway", sans-serif;
  color: $black;
  border-left: 8px solid $peach-orange;
  padding-left: 50px;
  margin-left: -60px;
}

.quote-author {
  font: 700 24px "Raleway", sans-serif;
  color: $light-black;
}
